<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>vaporize.gg</title>
		<link rel="stylesheet" href="/static/style.css" />
		<script src="https://unpkg.com/htmx.org"></script>
		<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
	</head>
	<body>
		<header>
			<h1>vaporize.gg</h1>
		</header>
		<main>
			<div class="search-wrapper">
				<div class="search-content">
					<form id="search-form" hx-get="/templates/banner/" hx-target=".search-wrapper" hx-swap="outerHTML">	
						<h1>Designs for Boisterous Completionists</h1>
						<input class="search-bar" placeholder="Steam User ID" type="text" name="user_id"/>
						<button class="search-button"></button>
					</form>
				</div>
			</div>
		</main>
		<template id="spinner-template">
			<img src="../static/loader-circle.svg" class="animate-spin" id="spinner"></img>
		</template>
	</body>
	<script>
		document.body.addEventListener("htmx:beforeRequest", (e) => {
			if (e.target.id == "search-form") {
				const spinner = document.getElementById("spinner-template").content.cloneNode(true);
				e.target.replaceWith(spinner)
			}
		})
	</script>
</html>
