<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>vaporize.gg</title>
		<link rel="stylesheet" href="/static/style.css" />
		<script src="https://unpkg.com/htmx.org"></script>
	</head>
	<body>
		<header>
			<h1>vaporize.gg</h1>
		</header>
		<main>
			<div class="search-wrapper">
				<div class="search-content">
					<h1>Designs for Boisterous Completionists</h1>
					<p></p>
					<form hx-get="/templates/user/" hx-target=".search-content">
						<input class="search-bar" placeholder="Steam User ID" type="text" name="user_id"/>
						<button class="search-button"></button>
					</form>
				</div>
			</div>
		</main>
	</body>
</html>
